
body{
    font-family: 'Open Sans', sans-serif;
}
.h3{
    font-size: 20px;
}
p{
    font-size: 15px;
}
ul, li {
    display: block;
    margin: 0;
    padding: 0; 
}
 /* Logo and menu  */
header{
    background-image: url(../img/new.jpg)
}
.menu{
    display: flex;
    justify-content: center;
}
.menu-bar{
    padding: 20px 0;    
    color: #ffff;
}
.menu__item{
    margin-left: 37px;
}
.menu__item a{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #ffff;
}
.menu__item a:hover{
    text-decoration: none;
    color: #00897b;
}
    /* Site header */
.main-header{
    color: #ffff;
    padding: 160px 0;
    /* background-size: cover;
    background-position: 0 100%; */
    
}
.main-header__title{
    font-size: 35px;
    margin-bottom: 20px;
}
.main-header__text{
    font-size: 20px;
    margin-bottom: 110px;
}
.button{
    padding: 10px 25px;
    margin: 0 10px;
    color: #ffff;
    transition: 0.3s;
}
.button_empty{
    background: transparent;
    border: 2px solid #ffff;
}
.button_full{
    background: #f58c5c;
    border: 2px solid #f58c5c;
}
.button_empty:hover{
    background: #ffff;
    color: #f58c5c;
}
.button_full:hover{
    background: transparent;
}
.about{
    padding-top: 120px;
    padding-bottom: 125px;   
}
.about__text{
    margin-top: 20px;
    margin-bottom: 110px;
}
.about__h3{
    font-weight: 600;
}
.carousel{
    background-image: url(../img/5.jpg);
}
.card-header{
    background: #78dfe2;
}
.modal-w{
    padding: 10px 0;
    background: #78dfe2;
}
.modal{
    color: #000000;
}
.bg-gray{
    background: #ccc9c9;
}
.margin-t{
    margin-top: 100px;
}
.img-shadow:hover{
    box-shadow: 0px 0px 25px 10px #886399;
}